nav {
    padding: 50px;
    text-align: center;

    >ul {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 14px;
        background: #ddd;
        color: rgb(179, 155, 155);
        border-radius: 5px;
        cursor: pointer;

        >li {
            float: left;
            width: 150px;
            height: 65px;
            line-height: 65px;
            position: relative;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background: #d5d5d5;
                color: rgb(179, 155, 155);
                border-radius: 5px 5px 0 0;
            }
        }
    }
}

ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;

    li {
        background-color: rgb(100, 188, 188);
        color: rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);

        &:hover {
            background: #ddd;
            color: rgb(179, 155, 155);
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
            border: none;
        }
    }
}

/*Default trigger*/

ul.drop-menu li {
    display: none;
}

li:hover>ul.drop-menu li {
    display: block;
}

/*MENU 1*/

li:hover>ul.drop-menu.menu-1 {
    perspective: 1000px;

    @for $i from 1 through 6 {
        li {
            opacity: 0;
            transform-origin: top center;

            &:nth-child(#{$i}) {
                animation-name: menu1;
                animation-duration: 300ms;
                // animation-duration: 150ms * $i;
                animation-delay: (150ms * $i) - 150;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

        }
    }
}

@keyframes menu1 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0) translateY(0);
    }
}

/*MENU 2*/

li:hover>ul.drop-menu.menu-2 {
    perspective: 1000px;

    @for $i from 1 through 6 {
        li {
            opacity: 0;

            &:nth-child(#{$i}) {
                animation-name: menu2;
                animation-duration: 200ms;
                // animation-duration: 150ms * $i;
                animation-delay: (150ms * $i) - 150;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes menu2 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    60% {
        opacity: 1;
        transform: rotateX(50deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}

/*MENU 3*/

li:hover>ul.drop-menu.menu-3 {
    perspective: 1000px;

    @for $i from 1 through 6 {
        li {
            opacity: 0;
            transform-origin: top center;

            &:nth-child(#{$i}) {
                animation-name: menu3;
                animation-duration: 300ms;
                // animation-duration: 150ms * $i;
                animation-delay: (150ms * $i) - 150;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

        }
    }
}

@keyframes menu3 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(-30px);
    }

    30% {
        opacity: 1;
    }
   
    100% {
        opacity: 1;
        transform: rotateY(0) translateY(0);
    }
}

/*MENU 4*/

li:hover>ul.drop-menu.menu-4 {
    perspective: 1000px;

    @for $i from 1 through 6 {
        li {
            opacity: 0;
            transform-origin: bottom center;

            &:nth-child(#{$i}) {
                animation-name: menu4;
                animation-duration: 300ms;
                // animation-duration: 150ms * $i;
                animation-delay: (150ms * $i) - 150;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

        }
    }
}

@keyframes menu4 {
    0% {
        opacity: 0;
        transform:scale(0.3) translateY(-30px);
    }

    80%{
        transform: scale(1.02)translateY(5px);
    }
   
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/*MENU 5*/

li:hover>ul.drop-menu.menu-5 {
    perspective: 1000px;

    @for $i from 1 through 6 {
        li {
            opacity: 0;
            transform-origin: top right;

            &:nth-child(#{$i}) {
                animation-name: menu5;
                animation-duration: 300ms;
                // animation-duration: 150ms * $i;
                animation-delay: (150ms * $i) - 150;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

        }
    }
}

@keyframes menu5 {
    0% {
        opacity: 0;
        transform: rotate(30deg);
    }

    80% {
        transform: rotate(-5deg); 
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

